 <!-- Video Source -->
  <!-- https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial_scale=1.0">
   <link rel="stylesheet" href ="static/csss/style.css">
   <title> TechConnect</title>
 </head>
  <section class="showcase">
    <header>
      <h2 class="logo">TechConnect</h2>
      <div class="toggle"></div>
    </header>
    <video src="static/video/preview.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Help For </h2>
      <h3>Closing the Gap</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <a href="explore">Explore</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
 </html>