 <!-- Video Source -->
  <!-- https://www.pexels.com/video/aerial-view-of-beautiful-resort-2169880/ -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial_scale=1.0">
   <link rel="stylesheet" href ="static/csss/style.css">
   <title> TechConnect</title>
 </head>
  <section class="showcase">
    <header>
      <h2 class="logo">TechConnect</h2>
    </header>
    <video src="static/video/preview.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Help For </h2>
      <h3>Closing the Gap</h3>
      <p>With the world moving rapidly towards all things virtual, the COVID pandemic has been a catalyst in speeding up this process.
        Everyone deserves to be a part of this new reality, but for a few it stays a dream. 
        Help us make this change, connect with Techconnect.</p>
      <a href="explore">Connect</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
 </html>