<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Techconnect.com</title>
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicons/site.webmanifest">

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">



    <!-- Css-->
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/swiper.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="static/css/jarallax.css">

    <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="static/css/vegas.min.css">
    <link rel="stylesheet" href="static/css/nouislider.min.css">
    <link rel="stylesheet" href="static/css/nouislider.pips.css">
    <link rel="stylesheet" href="static/css/asting.css">
    <!-- Template styles -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">

</head>

<body>

    <div class="preloader">
        <img src="static/images/logo.png" class="preloader__image" alt="">
    </div><!-- /.preloader -->

    <div class="page-wrapper">

        <div class="site-header__header-one-wrap clearfix">
            <div class="container">

                <div class="site-header__logo-box float-left">
                    <div class="site-header__logo">
                        <a href="index.html"><img src="static/images/logo.png" alt="" width="320" height="90"></a>
                    </div>
                </div>

                <header class="main-nav__header-one">
                    <div class="main-nav__header-one__top clearfix">
                        <div class="main-nav__header-one__top-left">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-square-alt"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="tel:92-666-888-0000">01234 567890</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:needhelp@company.com">techconnect@condenast.com</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-nav__header-one__top-right">
                            <div class="main-nav__header-one__top-social">
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="header-navigation stricky">
                        <div class="container clearfix">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="main-nav__left main-nav__left-one float-left">
                                <a href="#" class="side-menu__toggler">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <div class="main-nav__main-navigation clearfix">
                                    <ul class=" main-nav__navigation-box float-left">
                                        <li class="dropdown">
                                            <a href="explore">Home</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Volunteers</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Become a Volunteer</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="campaigns.html">Campaigns</a></li>
                                        </li>
                                        <li>
                                            <a href="#footer_location">Contact</a>
                                        </li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div>
                            <div class="main-nav__right main-nav__right-one float-right">
                                <div class="main-nav__right__btn-one">
                                    <a href="donate"><i class="fas fa-heart"></i>Donate</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>





        
        <div style = "margin: 30px; display: inline-block; vertical-align: middle; border: none; outline: none; margin-left: 600px; background-color: rgb(10,200,0);font-size: 16px;color: black;font-weight: 700;padding: 16.5px 60px;border-radius: 33.5px;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;"> <a href="https://4712c5d1.us1a.app.preset.io:443/r/21">Preset Dashboard</a></div>

        <div style = "position:relative; left:450px; top:2px; font-size: 12px;">
         Note : Please contact Sarah_Uludag@condenast.com to get access of Preset dashboard.
      </div>

        <!--Dashboard Details Start-->
        <section class="campaign-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="campaign-details__left-bar">
                            <div class="campaign-details__text-box">
                                <h1>Dashbord Charts Description</h1>
                                <br>
                                <h3>Chart 1</h3>
                                </div>
                                <div class="campaign-details__summary-img-box">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <img src="static/images/resources/california_elearn.png" alt="" height="300" width="600">
                                        </div>
                                    </div>
                                <p class="campaign-details__text">Innovation in Computer technology has a profound impact on education. It forms a part of the school curriculum as it is an essential part of every individual today.  Computer education in schools plays a major noteworthy role in the career development of young children. And during COVID-19 all the schools in US are taking the classes online which made the Computer an essential part of student lives. But few Students are not able to afford it which will impact on the future groth. On our analysis which is in Dashboard we found that in California only 10 % Population has ELearing Access.So we has started this campaign to help the students in California.</p>
                            </div>
                                <br><br>

                                <div class="campaign-details__text-box">
                            <h3>Chart 2</h3>
                                </div>
                                <div class="campaign-details__summary-img-box">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <img src="static/images/dashboards/internet-speed-newyork.jpg" alt="" height="300" width="600">
                                        </div>
                                    </div>
                                </div>
                                <p class="campaign-details__text">Innovation in Computer technology has a profound impact on education. It forms a part of the school curriculum as it is an essential part of every individual today.  Computer education in schools plays a major noteworthy role in the career development of young children. And during COVID-19 all the schools in US are taking the classes online which made the Computer an essential part of student lives. But few Students are not able to afford it which will impact on the future groth. On our analysis which is in Dashboard we found that in California only 10 % Population has ELearing Access.So we has started this campaign to help the students in California.</p>

                                <br><br>
                            </div>

                            <div class="campaign-details__text-box">
                                <h3>Chart 3</h3>
                                </div>
                                <div class="campaign-details__summary-img-box">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <img src="static/images/resources/california_elearn.png" alt="" height="300" width="600">
                                        </div>
                                    </div>
                                </div>
                                <p class="campaign-details__text">Innovation in Computer technology has a profound impact on education. It forms a part of the school curriculum as it is an essential part of every individual today.  Computer education in schools plays a major noteworthy role in the career development of young children. And during COVID-19 all the schools in US are taking the classes online which made the Computer an essential part of student lives. But few Students are not able to afford it which will impact on the future groth. On our analysis which is in Dashboard we found that in California only 10 % Population has ELearing Access.So we has started this campaign to help the students in California.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="campaign-details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="campaign-details__left-bar">
                            <div class="campaign-details__text-box">
                                <h3>Chart 4</h3>
                                </div>
                                <div class="campaign-details__summary-img-box">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <img src="static/images/resources/california_elearn.png" alt="" height="300" width="600">
                                        </div>
                                    </div>
                                </div>
                                <p class="campaign-details__text">Innovation in Computer technology has a profound impact on education. It forms a part of the school curriculum as it is an essential part of every individual today.  Computer education in schools plays a major noteworthy role in the career development of young children. And during COVID-19 all the schools in US are taking the classes online which made the Computer an essential part of student lives. But few Students are not able to afford it which will impact on the future groth. On our analysis which is in Dashboard we found that in California only 10 % Population has ELearing Access.So we has started this campaign to help the students in California.</p>

                                <br>

                            <div class="campaign-details__text-box">
                                <h3>Chart 5</h3>
                                </div>
                                <div class="campaign-details__summary-img-box">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <img src="static/images/resources/california_elearn.png" alt="" height="300" width="600">
                                        </div>
                                    </div>
                                </div>
                                <p class="campaign-details__text">Innovation in Computer technology has a profound impact on education. It forms a part of the school curriculum as it is an essential part of every individual today.  Computer education in schools plays a major noteworthy role in the career development of young children. And during COVID-19 all the schools in US are taking the classes online which made the Computer an essential part of student lives. But few Students are not able to afford it which will impact on the future groth. On our analysis which is in Dashboard we found that in California only 10 % Population has ELearing Access.So we has started this campaign to help the students in California.</p></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <!-- <br><br><br><br>

		<img src="static/images/dashboards/internet-speed-newyork.jpg" alt="" width="900" height="600">
		<figcaption>Fig.1 internet speed in newyork state</figcaption>
        <div class="main-nav__left-one">
        	<a href="internet speed dashboard" 
			target="popup" 
			onclick="window.open('https://4712c5d1.us1a.app.preset.io:443/r/16','popup','width=600,height=600'); return false;">Dashboard</a>
    	</div>
        <br>
        <img src="static/images/dashboards/elearning-access-2018to2020.jpg" alt="" width="900" height="600">
        <figcaption>Fig.2 - Elearning access in US from 2018 to 2020</figcaption>

        <div class="main-nav__left-one">
        	<a href="Elearning access in US" 
			target="popup" 
			onclick="window.open('https://4712c5d1.us1a.app.preset.io:443/r/17','popup','width=600,height=600'); return false;">Dashboard</a>
    	</div>

    	<br><br> -->
















<!--Site Footer One Start-->
        <footer class="site-footer">
            <div id="footer_location">
            <div class="container">
                <div class="site-footer__one-top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="index.html"><img src="static/images/logo.png" alt="" width="270" height="100" ></a>
                                </div>
                                <p class="footer-widget__text"></p>
                                <div class="site-footer__social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="clr-fb"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#" class="clr-dri"><i class="fab fa-dribbble"></i></a>
                                    <a href="#" class="clr-ins"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__explore clearfix">
                                <h3 class="footer-widget__title">Explore</h3>
                                <ul class="footer-widget__explore-list list-unstyled">
                                    <li><a href="donate">Donate</a></li>
                                    <li><a href="campaigns">Campaigns</a></li>
                                    <!-- <li><a href="#">Fundraise</a></li> -->
                                    <li><a href="#">Volunteers</a></li>
                                    <li><a href="#">Sponsors</a></li>
                                </ul>
                                <ul class="footer-widget__explore-list footer-widget__explore-list-two list-unstyled">
                                    <!-- <li><a href="#">Fundraising</a></li> -->
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Help</a></li>
                                    <!-- <li><a href="#">Faqs</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__contact">
                                <h3 class="footer-widget__title">Contact</h3>
                                <ul class="list-unstyled footer-widget__contact-list">
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone-square-alt"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="tel:666-888-0000">01234 56789</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:needhelp@company.com">techconnect@condenast.com</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <p>1 World Trade Center, New York, NY 10007, United States</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                            <div class="footer-widget__column footer-widget__support">
                                <h3 class="footer-widget__title">Support</h3>
                                <p class="footer-widget__support-text">Donate for the better education</p>
                                <div class="footer-widget__support-btn">
                                    <a href="donate.html"><i class="fas fa-heart"></i>Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </footer>
        <!--Site Footer One End-->

        <!--Site Footer Bottom Start-->
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer-bottom__inner">
                            <div class="site-footer-bottom__left">
                                <p>© Copyright 2021 by <a href="#">CondeNast</a></p>
                            </div>
                            <ul class="site-footer-bottom__menu list-unstyled">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><span>/</span></li>
                                <li><a href="#">Terms of Condition</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Site Footer Bottom End-->

    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>




    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="static/images/resources/logo-2.png" alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:needhelp@asting.com">needhelp@asting.com</a>
                </li>
                <li>
                    <i class="fas fa-phone-square-alt"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" aria-label="pinterest"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
    </div>



    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>



    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/TweenMax.min.js"></script>
    <script src="static/js/wow.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/jquery.ajaxchimp.min.js"></script>
    <script src="static/js/swiper.min.js"></script>
    <script src="static/js/typed-2.0.11.js"></script>
    <script src="static/js/vegas.min.js"></script>
    <script src="static/js/jquery.validate.min.js"></script>
    <script src="static/js/bootstrap-select.min.js"></script>
    <script src="static/js/countdown.min.js"></script>
    <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="static/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/nouislider.min.js"></script>
    <script src="static/js/isotope.js"></script>
    <script src="static/js/appear.js"></script>
    <script src="static/js/jarallax.js"></script>


    <!-- template scripts -->
    <script src="static/js/theme.js"></script>


</body>

</html>